<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/aop/src</directory>
            <directory suffix=".php">./src/cache/src</directory>
            <directory suffix=".php">./src/config/src</directory>
            <directory suffix=".php">./src/context/src</directory>
            <directory suffix=".php">./src/database/src</directory>
            <directory suffix=".php">./src/di/src</directory>
            <directory suffix=".php">./src/event/src</directory>
            <directory suffix=".php">./src/framework/src</directory>
            <directory suffix=".php">./src/http-message/src</directory>
            <directory suffix=".php">./src/http-server/src</directory>
            <directory suffix=".php">./src/macro/src</directory>
            <directory suffix=".php">./src/redis/src</directory>
            <directory suffix=".php">./src/routing/src</directory>
            <directory suffix=".php">./src/session/src</directory>
            <directory suffix=".php">./src/swoole/src</directory>
            <directory suffix=".php">./src/utils/src</directory>
            <directory suffix=".php">./src/validator/src</directory>
            <directory suffix=".php">./src/view/src</directory>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php">./src/aop/src</directory>
            <directory suffix="Test.php">./src/cache/src</directory>
            <directory suffix="Test.php">./src/config/src</directory>
            <directory suffix="Test.php">./src/context/src</directory>
            <directory suffix="Test.php">./src/database/src</directory>
            <directory suffix="Test.php">./src/di/src</directory>
            <directory suffix="Test.php">./src/event/src</directory>
            <directory suffix="Test.php">./src/framework/src</directory>
            <directory suffix="Test.php">./src/http-message/src</directory>
            <directory suffix="Test.php">./src/http-server/src</directory>
            <directory suffix="Test.php">./src/macro/src</directory>
            <directory suffix="Test.php">./src/redis/src</directory>
            <directory suffix="Test.php">./src/routing/src</directory>
            <directory suffix="Test.php">./src/session/src</directory>
            <directory suffix="Test.php">./src/swoole/src</directory>
            <directory suffix="Test.php">./src/utils/src</directory>
            <directory suffix="Test.php">./src/validator/src</directory>
            <directory suffix="Test.php">./src/view/src</directory>
        </testsuite>
    </testsuites>
</phpunit>
