<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/index/css/css.css">
</head>

<body>
    <header>
        <nav>
            <li class="active">Home</li>
            <li>ToDo</li>
            <li>Login</li>
        </nav>
    </header>
    <main>
        <section>
            <div id="left">
                <input class="form-input" type="text" name="todo">
            </div>
        </section>
        <section id="handler">
            <span>《</span>
        </section>
        <section id="right">
        </section>
    </main>
    <footer>
        fdsf
    </footer>
</body>

<script>
    var aside = document.querySelector('#handler>span');
    var side = document.getElementById('right')
    aside.onclick = function (e) {
        if (side.style.width == '0px' || !side.style.width) {
            side.style.width = '100%';
            aside.innerText = '》'
        } else {
            side.style.width = '0px';
            aside.innerText = '《'
        }
    }
    console.log(aside)
</script>

</html>