html, body {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    margin: 0;
    background-color: aliceblue;
}

a {
    text-decoration: none;
    color: grey
}

a:hover {
    color: white;
}

header, nav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 2.8em;
    line-height: 2.8em;
    text-align: left;
    z-index: 10;
    background-color: rgb(79, 112, 246);
}

nav > ul {
    padding: 0;
    margin: 0 auto;
    width: 80%;
}

nav > ul > li, nav > ul > li > a {
    font-size: 0.9em;
    cursor: pointer;
    min-width: 5em;
    text-align: center;
    color: white;
    display: inline-block;
    list-style-type: none;
    transition: color .5s;
}

nav > ul > li:hover {
    background-color: rgb(127, 150, 243);
    transition: background-color .5s;
}

nav > ul > li > a:hover {
    color: rgb(70, 69, 69);
}

nav > ul > li.active {
    background-color: rgb(127, 150, 243);
    border-bottom: 2px solid #135bec;
    color: rgb(70, 69, 69);
}

a.left, a.right {
    cursor: pointer;
    color: white;
    text-shadow: 3px 3px 5px grey;
    display: inline-block;
}

a.left {
    float: left;
    margin: 0 2.5em 0 .5em;
}

a.right {
    font-size: .8em;
    float: right;
    width: 4rem;
    margin-right: .5rem;
}

.right2 {
    width: 1em !important;
}

.right3 {
    margin-right: 17em !important;
    height: 3.5em;
}

.right3 > input {
    height: 2.3em;
    padding: 0 .5em;
    width: 18em;
    outline: none;
    border: none;
    border-radius: 5px;
}

main {
    margin: 1.5em auto;
    width: 80%;
}

.main {
    opacity: .9;
    height: 80vh;
    background-color: white;
    display: flex;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 rgb(226, 225, 225);
    box-sizing: border-box;
    /*justify-content: space-around*/
}

.banner {
    margin-top: calc(3em - 4px);
    width: initial;
    height: 450px;
    background-color: rgb(79, 112, 246);
}


section {
    width: 100%;
    word-break: break-all;
    word-wrap: break-word;
    overflow: hidden;
}

.form-input {
    height: 2em;
    /* min-width: 5em; */
    outline: none;
    border: 1px solid grey;
    /* background-color: antiquewhite; */
}

#handler {
    text-align: center;
    width: 1.5em;
    /* background-color: rgb(231, 231, 229); */
}

#handler > span {
    display: block;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    line-height: 1.5em;;
    border-radius: 50%;
    /* background-color:; */
    cursor: pointer;
    position: relative;
    top: calc(50% - 1em);
    /* padding-left:8px; */
    /* box-sizing: border-box; */
}

/* #handler>span::selection{
    background-color: none;
}
#handler>span:hover{
    transition:background-color .5s;
    background-color: rgb(230, 228, 228);
} */

#left {
    /* display: flex; */
    text-align: center;
    align-content: center;
}


section#right {
    width: 0;
    overflow-y: auto;
    transition: width .3s;
    text-align: center;
}

footer {
    font-size: .7em;
    text-align: center;
    height: 90px;
    background-color: #4F70F6;
    padding: 30px;
}

footer a {
    color: white;
}

.btn {
    cursor: pointer;
    background-color: #4568F5;
    color: white;
    height: 2.5em;
    width: 5em;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: background-color .5s, color .5s;
}

.btn:hover {
    background-color: #7F96F3;
    color: rgb(70, 69, 69);
}

td {
    width: 50%;
}

div.input-area {
    position: relative;
    top: 5%;
    width: 40%;
    margin: 0 auto;
}

div.input-area > input {
    font-size: 1em;
    box-sizing: border-box;
    height: 2.5em;
    padding: .5em;
    width: 100%;
    outline: none;
    border: 1px solid #4568F5;
    /*border-radius: 8px;*/
    transition: border .3s, box-shadow .3s;
}

div.input-area > input:focus {
    border: 1px solid #a3a0a0;
    box-shadow: 0 0 5px 0 #4568F5;
}

#banner-title {
    /*border: 1px solid red;*/
    height: 50px;
    /*width:100%;*/
}

#banner-content {
    display: flex;
    text-align: center;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}

.big-font {
    color: white;
    margin: 0;
    font-size: 6em;
    font-weight: bold;
    text-shadow: 5px 5px 2px #a3a3a3;
}

.small-font {
    color: white;
    text-align: center;
    margin: 0;
    font-size: 2em;
    font-weight: lighter;
}

a#download {
    display: block;
    width: 8em;
    color: white;
    font-size: 1em;
    border-radius: 5px;
    line-height: 2.8em;
    border: 1px solid white;
    margin: 30px auto 0;
    height: 2.8em;
}

a#download:hover {
    background-color: white;
    color: black;
}

p.links {
    color: white;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

p.links a {
    border-bottom: 1px dotted #D2EBE3;
    color: #D2EBE3;
    /*font-weight: lighter;*/
}

p.links a:hover {
    border-bottom: 1px solid white;
    color: white;
}

.banner-right {
    margin-top: 40px;
    font-size: 9em;
    vertical-align: middle;
    color: white;
    text-align: center;
}

.d-sm {
    display: none !important;
}

ul.bar {
    width: 90%;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    top: calc(3em - 4px);
    z-index: 11;
}

ul.bar > li {
    list-style: none;
    padding: 0;
    text-align: left;
    display: block;
    color: black;
    height: 2.5em;
    width: 100%;
    line-height: 2.5em;
}

#login {
    width: 100%;
    height: 3em;
    background-color: #4F70F6;
    color: white;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color .3s;
}

#login:focus {
    background-color: #6c8aff;
}

.login-input {
    width: calc(100% - 2px);
    height: 3em;
    padding: .5em;
    margin: .5em 0;
    background-color: #f1f1f1;
    box-sizing: border-box;
    border: 1px solid #d8d8d8d1;
    outline: none;
    border-radius: 5px;
    transition: box-shadow .3s;
}

.login-input:focus {
    box-shadow: 0 0 0 1px #6c8aff;
}

@media screen and (max-width: 500px) {
    .banner-right {
        display: none;
    }
}

@media screen and (max-width: 880px) {

    .big-font {
        font-size: 4em;
    }

    .main, main, #banner-content, nav > ul {
        width: 90% !important;
    }

    .d-sm {
        display: inline !important;
    }

    .d-bg {
        display: none !important;
    }

    .d-sm + .right2 {
        margin-right: 2em;
    }
}

